<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>대학혁신지원사업</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="/bootstrap/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/bootstrap/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/bootstrap/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="/bootstrap/css/style.css" rel="stylesheet">
        <script language="javascript">
        var imgArray = new Array();
       imgArray[0] = "/bootstrap/img/2.png";
       imgArray[1] = "/bootstrap/img/3.png";

       function showImage(){
      var imgNum = Math.round(Math.random()*1);
      var objImg = document.getElementById("introImg");
      objImg.src = imgArray[imgNum];
       }   
    </script>
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="51" onload = "showImage()">
        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <a href="/">
                    <img src="/bootstrap/img/duksung_logo.png" width="80%" height="80%" >
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>               
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="/" class="nav-item nav-link active">메인</a>
                        <a href="/thanks" class="nav-item nav-link">감사의 말</a>
                        <a href="/awards" class="nav-item nav-link">시상내역</a>
                        <a href="/work" class="nav-item nav-link">수상소감</a>
                    
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->


        <!-- Hero Start -->
        <div class="hero" id="home">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-6">
                        <div class="hero-content">
                            <div class="hero-text">
                                <p>DWUS</p>
                                <h1>컴퓨팅 사고</h1>
                                <h2></h2>
                                <div class="typed-text">융합 경진대회</div>
                            </div>
                            <div class="hero-btn">
                                <a class="btn" href="/thanks">감사의 말</a>
                                <a class="btn" href="/work">출품작 보러 가기</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 d-none d-md-block">
                        <img id="introImg" border="0">
                    </div>                    
                </div>
            </div>
        </div>
        <!-- Hero End -->

        <!-- About Start -->
        <div class="about wow fadeInUp" data-wow-delay="0.1s" id="about">
            <center>
            <div class="container-fluid">
                <img src="/bootstrap/img/py.jpg" alt="Image" height="1000" width="750">
            </div>
            </center>
       
        </div>
        <!-- About End -->

        <!-- Footer Start -->
        <div class="footer wow fadeIn" data-wow-delay="0.3s">
            <div class="container-fluid">
                <div class="container">
                    <div class="footer-info">
                        <h2>DS-혁신사업단</h2>
                        <h3>덕성여자대학교 행정동 205호</h3>
                        <div class="footer-menu">
                            <p>02)901-8832</p>
                            <p> dsinnovation@duksung.ac.kr</p>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <p>&copy; <a href="https://dsinno.duksung.ac.kr/main.do?isMaster=N&isLogined=N&viewPrefix=%2FWEB-INF%2Fjsp%2Fcms&urlRootPath=&siteResourcePath=%2Fsite%2Fdsinno">DS-INNOVATION</a>, All Right Reserved | Designed By CHA-347</p>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        
        
        <!-- Back to top button -->
        <a href="#" class="btn back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="/bootstrap/lib/easing/easing.min.js"></script>
        <script src="/bootstrap/lib/wow/wow.min.js"></script>
        <script src="/bootstrap/lib/waypoints/waypoints.min.js"></script>
        <script src="/bootstrap/lib/typed/typed.min.js"></script>
        <script src="/bootstrap/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/bootstrap/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="/bootstrap/lib/lightbox/js/lightbox.min.js"></script>
        
        <!-- Contact Javascript File -->
        <script src="/bootstrap/mail/jqBootstrapValidation.min.js"></script>
        <script src="/bootstrap/mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="/bootstrap/js/main.js"></script>
    </body>
</html>